.barre_nav{
    margin: 0;
    position: fixed;
    height: 15%;
    display: flex;
    background-color: #fff;
    width: 50%;
    transition: 0.2s;
}
.charts{
    margin-top: 3%; 
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-content: center;
}
.license, .master{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.pie{
    margin: 15% 5% 0 10%;
    width: 75%;
    height: auto;
    text-align: center;
}
.levels{
    margin-top:5%;
}
.bars{
    width: 80%;
}
h4{
    color: #888;
    text-align: center;
    margin: 1vw 1vh;
}