*{
    margin: 0;
    padding: 0;
}
body{
    width: auto;
    background-color: #ececec;
    position: absolute;
}
.barre_nav{
    margin: 0;
    display: flex;
    width: 100%;
    transition: 0.2s;
}
form{
    padding: 10px 10px;
    padding-left: 0;
    width:100%;
    display: flex;
    justify-content: center;
    gap: 1vw;
}
form input, form button{
    padding: 10px 10px;
    border-radius: 50px;
    border: 1px solid rgb(138, 138, 138);
}
form select{
    padding: 10px 10px;
    border-radius: 50px;
    border: 1px solid rgb(138, 138, 138);
}
form .actu{
    width: 15%;
    text-decoration: none;
}
.side_bar{
    width: 10%;
    position: fixed;
    right: 0;
    height: 100%;
    transition: 1s;
}
.container{
    margin: 50px 100px;
    width: 0;
    transition: 0.5s;
}
.container .calendar{
    margin: 0 auto;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 5px 2px grey;
    border: 15px solid transparent;
    width: 800px;
}
.container .calendar th, .container .calendar td{
    text-align: center;
    color: rgb(136, 136, 136);
    border: 5px solid #fff;
    width: 140px;
}
.container .calendar .title{
    color: #000;
    font-size: 20px;
}
.container .calendar .nav{
    color: #888888;
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
}
.container .calendar td{
    width: 140px;
    height: 90px;
    font-size: 20px;
}
.container .calendar .none{
    background-color: rgb(255, 255, 255);
}
.container .calendar .valid{
    background-color: rgb(177, 255, 177);
}
.container .calendar .today{
    background-color: rgb(185, 223, 255);
}
.container .stat{
    width: 300px;
    height: 200px;
    margin: 0 0 50px 0;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 5px 2px grey;
    text-overflow: clip;
    padding: 10px;
}
.stat h3{
    margin: 10px;
    text-align: center;
    color: rgb(136, 136, 136);
}
.stat h2{
    margin:25px;
    color: rgb(185, 223, 255);
}
.calendar h1{
    margin: 10px 0 25px 0;
    color: rgb(136, 136, 136);
}
.stat span{
    font-size: 40px;
    color: rgb(148, 255, 148);
}
.button_nav {
    width: 30px;
    height: 30px;
}
