*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    background-color: #ececec;
    position: absolute;
}
.barre_nav{
    margin: 0;
    display: flex;
    width: 100%;
    transition: 0.2s;
}
form{
    padding: 3vh 1vw;
    padding-left: 0;
    width:100%;
    display: flex;
    justify-content: center;
    gap: 1vw;
}
form input, form button{
    padding: 1vh 1vw;
    border-radius: 50px;
    border: 1px solid rgb(138, 138, 138);
}
form select{
    padding: 1vh 1vw;
    border-radius: 50px;
    border: 1px solid rgb(138, 138, 138);
}
form .actu{
    width: 15%;
    text-decoration: none;
}
.side_bar{
    width: 10%;
    position: fixed;
    right: 0;
    height: 100%;
    transition: 1s;
}
.container{
    margin: 5% 0;
    width:90%;
    display: flex;
    justify-content: space-evenly;
    transition: 0.5s;
}
.container .calendar{
    /* width: 56vw;
    height: 56vh; */
    /* border-collapse: collapse; */
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px 2px grey;
    border: 15px solid transparent;
}
.container .calendar th, .container .calendar td{
    text-align: center;
    color: rgb(136, 136, 136);
    border: 5px solid #fff;
}
.container .calendar .title{
    color: #000;
    font-size: 20px;
}
.container .calendar .nav{
    color: #888888;
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
}
.container .calendar td{
    width: 6vw;
    height: 6vw;
    font-size: 20px;
}
.container .calendar .none{
    background-color: rgb(255, 255, 255);
}
.container .calendar .valid{
    background-color: rgb(177, 255, 177);
}
.container .calendar .today{
    background-color: rgb(185, 223, 255);
}
.stat{
    width: 15vw;
    height: 15vw;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 5px 2px grey;
    text-overflow: clip;
}
.stat h3{
    margin: 10px;
    text-align: center;
    color: rgb(136, 136, 136);
}
.stat h2{
    margin:25px;
    color: rgb(185, 223, 255);
}
.stat span{
    font-size: 40px;
    color: rgb(148, 255, 148);
}
.button_nav {
    width: 1.5vw;
    height: 3vh;;
}