*{
    margin: 0;
    box-sizing: border-box;
}
form{
    margin: 0;
    padding: 3vh 1vw;
    width: 100%;
    /* background-color: red; */
}
form input, form select, form button{
    /* width: 15%; */
    margin: auto 0.5vw;
    padding: 1vh 1vw;
    border-radius: 50px;
    border: 1px solid rgb(138, 138, 138);
}
form button{
    width: 5%;
}
table{
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 3vh;
    border-collapse: collapse;
    border-spacing: 5vw;
    font-family: sans-serif;
}
table tr{
    border: 1px solid #464141;
}
table tr:nth-child(1){
    background-color: #040b47;
    color: #ffffff;
}
table tr:hover{
    background-color: #161e69;
    color: #ffffff;
}
table td{
    padding: 2vh 2vw;
}
table .even{
    background-color: rgb(201, 204, 216);
}
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    background-color: rgb(221, 221, 221);
    margin: 3vh auto;
    width: 50%;
    border: 1px solid;
    border-radius: 50px;
}
.pagination li{
    margin: 2vh 0.4vw;
    padding: 1vh 1vw;
    border: 1px solid #2a2a38;
    border-radius: 50px;
}
.pagination li:hover{
    background-color: #2b304b;
}
.pagination li:hover a{
    color: #ffffff;
}
.pagination .active{
    background-color: #020625;
    box-shadow: 0px 0px 8px #414452;
}
.pagination .active:hover{
    background-color: #020625;
}
.pagination .active a{
    color: #ffffff;
}
.pagination li a{
    text-decoration: none;
    color: #000;
}
